# Startup Config
API_ID = "25450170"
API_HASH = "b544fe91284a38cacc00cdbfab26f826"
BOT_TOKEN = "6352828950:AAG2kS4YnQmWOBy1TodN0UlTfZWvXnKgDjY"
AUTH_CHANNEL = "-1001530260929, -1001818644117"
SESSION_STRING = ""

# Additional CDN Bots
# MULTI_TOKEN1 = ""
# MULTI_TOKEN2 = "" (upto 50)

# Web Config
BASE_URL = ""
PORT = "8080"

# Login Details
USERNAME = "admin" 
PASSWORD = "admin"

SLEEP_THRESHOLD = "60" #Reduce FloodWait
WORKERS = "100"
THEME = "flatly"
